{
    "openapi": "3.0.1",
    "info": {
      "title": "OdhApi Tourism .Net Core",
      "description": "ODH Tourism Api based on .Net Core with PostgreSQL",
      "termsOfService": "https://opendatahub.readthedocs.io/en/latest/",
      "contact": {
        "name": "Open Data Hub Team",
        "url": "https://opendatahub.bz.it/",
        "email": "info@opendatahub.bz.it"
      },
      "version": "v1"
    },
    "servers": [
      {
        "url": "https://api.tourism.testingmachine.eu"
      }
    ],
    "paths": {
      "/api/Accommodation": {
        "get": {
          "tags": [
            "Accommodation"
          ],
          "summary": "GET Accommodation List",
          "operationId": "AccommodationList",
          "parameters": [
            {
              "name": "pagenumber",
              "in": "query",
              "description": "Pagenumber, (default:1)",
              "schema": {
                "type": "integer",
                "description": "Pagenumber, (default:1)",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pagesize",
              "in": "query",
              "description": "Elements per Page (If availabilitycheck set, pagesize has no effect all Accommodations are returned), (default:10)",
              "schema": {
                "type": "integer",
                "description": "Elements per Page (If availabilitycheck set, pagesize has no effect all Accommodations are returned), (default:10)",
                "format": "int32",
                "default": 10
              }
            },
            {
              "name": "seed",
              "in": "query",
              "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
              "schema": {
                "type": "string",
                "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
                "nullable": true
              }
            },
            {
              "name": "categoryfilter",
              "in": "query",
              "description": "Categoryfilter (BITMASK values: 1 = (not categorized), 2 = (1star), 4 = (1flower), 8 = (1sun), 14 = (1star/1flower/1sun), 16 = (2stars), 32 = (2flowers), 64 = (2suns), 112 = (2stars/2flowers/2suns), 128 = (3stars), 256 = (3flowers), 512 = (3suns), 1024 = (3sstars), 1920 = (3stars/3flowers/3suns/3sstars), 2048 = (4stars), 4096 = (4flowers), 8192 = (4suns), 16384 = (4sstars), 30720 = (4stars/4flowers/4suns/4sstars), 32768 = (5stars), 65536 = (5flowers), 131072 = (5suns), 229376 = (5stars/5flowers/5suns), 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Categoryfilter (BITMASK values: 1 = (not categorized), 2 = (1star), 4 = (1flower), 8 = (1sun), 14 = (1star/1flower/1sun), 16 = (2stars), 32 = (2flowers), 64 = (2suns), 112 = (2stars/2flowers/2suns), 128 = (3stars), 256 = (3flowers), 512 = (3suns), 1024 = (3sstars), 1920 = (3stars/3flowers/3suns/3sstars), 2048 = (4stars), 4096 = (4flowers), 8192 = (4suns), 16384 = (4sstars), 30720 = (4stars/4flowers/4suns/4sstars), 32768 = (5stars), 65536 = (5flowers), 131072 = (5suns), 229376 = (5stars/5flowers/5suns), 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "typefilter",
              "in": "query",
              "description": "Typefilter (BITMASK values: 1 = (HotelPension), 2 = (BedBreakfast), 4 = (Farm), 8 = (Camping), 16 = (Youth), 32 = (Mountain), 64 = (Apartment), 128 = (Not defined),'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Typefilter (BITMASK values: 1 = (HotelPension), 2 = (BedBreakfast), 4 = (Farm), 8 = (Camping), 16 = (Youth), 32 = (Mountain), 64 = (Apartment), 128 = (Not defined),'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "boardfilter",
              "in": "query",
              "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
              "schema": {
                "type": "string",
                "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
                "nullable": true
              }
            },
            {
              "name": "featurefilter",
              "in": "query",
              "description": "FeatureFilter (BITMASK values: 1 = (Group-friendly), 2 = (Meeting rooms), 4 = (Swimming pool), 8 = (Sauna), 16 = (Garage), 32 = (Pick-up service), 64 = (WLAN), 128 = (Barrier-free), 256 = (Special menus for allergy sufferers), 512 = (Pets welcome), 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "FeatureFilter (BITMASK values: 1 = (Group-friendly), 2 = (Meeting rooms), 4 = (Swimming pool), 8 = (Sauna), 16 = (Garage), 32 = (Pick-up service), 64 = (WLAN), 128 = (Barrier-free), 256 = (Special menus for allergy sufferers), 512 = (Pets welcome), 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "featureidfilter",
              "in": "query",
              "description": "Feature Id Filter, filter over ALL Features vailable (Separator ',' List of Feature IDs, 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Feature Id Filter, filter over ALL Features vailable (Separator ',' List of Feature IDs, 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "themefilter",
              "in": "query",
              "description": "Themefilter (BITMASK values: 1 = (Gourmet), 2 = (At altitude), 4 = (Regional wellness offerings), 8 = (on the wheels), 16 = (With family), 32 = (Hiking), 64 = (In the vineyards), 128 = (Urban vibe), 256 = (At the ski resort), 512 = (Mediterranean), 1024 = (In the Dolomites), 2048 = (Alpine), 4096 = (Small and charming), 8192 = (Huts and mountain inns), 16384 = (Rural way of life), 32768 = (Balance), 65536 = (Christmas markets), 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Themefilter (BITMASK values: 1 = (Gourmet), 2 = (At altitude), 4 = (Regional wellness offerings), 8 = (on the wheels), 16 = (With family), 32 = (Hiking), 64 = (In the vineyards), 128 = (Urban vibe), 256 = (At the ski resort), 512 = (Mediterranean), 1024 = (In the Dolomites), 2048 = (Alpine), 4096 = (Small and charming), 8192 = (Huts and mountain inns), 16384 = (Rural way of life), 32768 = (Balance), 65536 = (Christmas markets), 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "badgefilter",
              "in": "query",
              "description": "BadgeFilter (BITMASK values: 1 = (Belvita Wellness Hotel), 2 = (Familyhotel), 4 = (Bikehotel), 8 = (Red Rooster Farm), 16 = (Barrier free certificated), 32 = (Vitalpina Hiking Hotel), 64 = (Private Rooms in South Tyrol), 128 = (Vinum Hotels), 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "BadgeFilter (BITMASK values: 1 = (Belvita Wellness Hotel), 2 = (Familyhotel), 4 = (Bikehotel), 8 = (Red Rooster Farm), 16 = (Barrier free certificated), 32 = (Vitalpina Hiking Hotel), 64 = (Private Rooms in South Tyrol), 128 = (Vinum Hotels), 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "idfilter",
              "in": "query",
              "description": "IDFilter (Separator ',' List of Accommodation IDs, 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "IDFilter (Separator ',' List of Accommodation IDs, 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "locfilter",
              "in": "query",
              "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = No Filter), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = No Filter), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "altitudefilter",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "odhtagfilter",
              "in": "query",
              "description": "ODHTag Filter (refers to Array SmgTags) (String, Separator ',' more ODHTags possible, 'null' = No Filter, available ODHTags reference to 'api/ODHTag?validforentity=accommodation'), (default:'null')",
              "schema": {
                "type": "string",
                "description": "ODHTag Filter (refers to Array SmgTags) (String, Separator ',' more ODHTags possible, 'null' = No Filter, available ODHTags reference to 'api/ODHTag?validforentity=accommodation'), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "odhactive",
              "in": "query",
              "description": "ODHActive Filter (refers to field SmgActive) (possible Values: 'null' Displays all Accommodations, 'true' only ODH Active Accommodations, 'false' only ODH Disabled Accommodations, (default:'null')",
              "schema": {
                "type": "boolean",
                "description": "ODHActive Filter (refers to field SmgActive) (possible Values: 'null' Displays all Accommodations, 'true' only ODH Active Accommodations, 'false' only ODH Disabled Accommodations, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "active",
              "in": "query",
              "description": "TIC Active Filter (possible Values: 'null' Displays all Accommodations, 'true' only TIC Active Accommodations, 'false' only TIC Disabled Accommodations, (default:'null')",
              "schema": {
                "type": "boolean",
                "description": "TIC Active Filter (possible Values: 'null' Displays all Accommodations, 'true' only TIC Active Accommodations, 'false' only TIC Disabled Accommodations, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "bookablefilter",
              "in": "query",
              "schema": {
                "type": "boolean",
                "nullable": true
              }
            },
            {
              "name": "arrival",
              "in": "query",
              "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
              "schema": {
                "type": "string",
                "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
                "nullable": true
              }
            },
            {
              "name": "departure",
              "in": "query",
              "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
              "schema": {
                "type": "string",
                "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
                "nullable": true
              }
            },
            {
              "name": "roominfo",
              "in": "query",
              "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
              "schema": {
                "type": "string",
                "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
                "default": "1-18,18",
                "nullable": true
              }
            },
            {
              "name": "bokfilter",
              "in": "query",
              "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
              "schema": {
                "type": "string",
                "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
                "default": "hgv",
                "nullable": true
              }
            },
            {
              "name": "source",
              "in": "query",
              "description": "Source for MSS availability check, (default:'sinfo')",
              "schema": {
                "type": "string",
                "description": "Source for MSS availability check, (default:'sinfo')",
                "default": "sinfo",
                "nullable": true
              }
            },
            {
              "name": "availabilitychecklanguage",
              "in": "query",
              "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'en')",
              "schema": {
                "type": "string",
                "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'en')",
                "default": "en",
                "nullable": true
              }
            },
            {
              "name": "availabilitycheck",
              "in": "query",
              "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA",
              "schema": {
                "type": "boolean",
                "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA",
                "nullable": true
              }
            },
            {
              "name": "latitude",
              "in": "query",
              "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
              "schema": {
                "type": "string",
                "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "longitude",
              "in": "query",
              "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
              "schema": {
                "type": "string",
                "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "radius",
              "in": "query",
              "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
              "schema": {
                "type": "string",
                "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "language",
              "in": "query",
              "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
              "schema": {
                "type": "string",
                "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
                "nullable": true
              }
            },
            {
              "name": "updatefrom",
              "in": "query",
              "description": "Date from Format (yyyy-MM-dd) (all GBActivityPoi with LastChange >= datefrom are passed), (default: null)",
              "schema": {
                "type": "string",
                "description": "Date from Format (yyyy-MM-dd) (all GBActivityPoi with LastChange >= datefrom are passed), (default: null)",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
                "nullable": true
              }
            },
            {
              "name": "searchfilter",
              "in": "query",
              "description": "String to search for, Title in all languages are searched, (default: null)",
              "schema": {
                "type": "string",
                "description": "String to search for, Title in all languages are searched, (default: null)",
                "nullable": true
              }
            },
            {
              "name": "rawfilter",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "rawsort",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/AccommodationJsonResult"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccommodationJsonResult"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccommodationJsonResult"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/AccommodationJsonResult"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/Accommodation/{id}": {
        "get": {
          "tags": [
            "Accommodation"
          ],
          "summary": "GET Accommodation Single",
          "operationId": "SingleAccommodation",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "ID of the Accommodation",
              "required": true,
              "schema": {
                "type": "string",
                "description": "ID of the Accommodation",
                "nullable": true
              }
            },
            {
              "name": "idsource",
              "in": "query",
              "description": "ID Source Filter (possible values:'lts','hgv'), (default:'lts')",
              "schema": {
                "type": "string",
                "description": "ID Source Filter (possible values:'lts','hgv'), (default:'lts')",
                "default": "lts",
                "nullable": true
              }
            },
            {
              "name": "availabilitychecklanguage",
              "in": "query",
              "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'de')",
              "schema": {
                "type": "string",
                "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'de')",
                "default": "en",
                "nullable": true
              }
            },
            {
              "name": "boardfilter",
              "in": "query",
              "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
              "schema": {
                "type": "string",
                "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
                "nullable": true
              }
            },
            {
              "name": "arrival",
              "in": "query",
              "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
              "schema": {
                "type": "string",
                "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
                "nullable": true
              }
            },
            {
              "name": "departure",
              "in": "query",
              "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
              "schema": {
                "type": "string",
                "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
                "nullable": true
              }
            },
            {
              "name": "roominfo",
              "in": "query",
              "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
              "schema": {
                "type": "string",
                "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
                "default": "1-18,18",
                "nullable": true
              }
            },
            {
              "name": "bokfilter",
              "in": "query",
              "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
              "schema": {
                "type": "string",
                "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
                "default": "hgv",
                "nullable": true
              }
            },
            {
              "name": "source",
              "in": "query",
              "description": "Source for MSS availability check, (default:'sinfo')",
              "schema": {
                "type": "string",
                "description": "Source for MSS availability check, (default:'sinfo')",
                "default": "sinfo",
                "nullable": true
              }
            },
            {
              "name": "availabilitycheck",
              "in": "query",
              "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA",
              "schema": {
                "type": "boolean",
                "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
                "nullable": true
              }
            },
            {
              "name": "language",
              "in": "query",
              "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
              "schema": {
                "type": "string",
                "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Object created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Accommodation"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Accommodation"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Accommodation"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/Accommodation"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/AccommodationTypes": {
        "get": {
          "tags": [
            "Accommodation"
          ],
          "summary": "GET Accommodation Types List",
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                },
                "text/csv": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/AccommodationTypes/{id}": {
        "get": {
          "tags": [
            "Accommodation"
          ],
          "summary": "GET Accommodation Types Single",
          "operationId": "SingleAccommodationTypes",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "ID of the AccommodationType",
              "required": true,
              "schema": {
                "type": "string",
                "description": "ID of the AccommodationType",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/AccommodationFeatures": {
        "get": {
          "tags": [
            "Accommodation"
          ],
          "summary": "GET Accommodation Feature List (LTS Features)",
          "parameters": [
            {
              "name": "source",
              "in": "query",
              "description": "IF source = \"lts\" the Features list is returned in XML Format directly from LTS, (default: blank)",
              "schema": {
                "type": "string",
                "description": "IF source = \"lts\" the Features list is returned in XML Format directly from LTS, (default: blank)",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccoFeature"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccoFeature"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccoFeature"
                    }
                  }
                },
                "text/csv": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccoFeature"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/AccommodationFeatures/{id}": {
        "get": {
          "tags": [
            "Accommodation"
          ],
          "summary": "GET Accommodation Feature Single (LTS Features)",
          "operationId": "SingleAccommodationFeatures",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "ID of the AccommodationFeature",
              "required": true,
              "schema": {
                "type": "string",
                "description": "ID of the AccommodationFeature",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/AccoFeature"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccoFeature"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccoFeature"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/AccoFeature"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/AccommodationAvailable": {
        "post": {
          "tags": [
            "Accommodation"
          ],
          "summary": "POST Available Accommodations HGV(Booking Suedtirol MSS) / LTS on posted IDs",
          "parameters": [
            {
              "name": "availabilitychecklanguage",
              "in": "query",
              "description": "Language of the Availability Response",
              "schema": {
                "type": "string",
                "description": "Language of the Availability Response",
                "default": "en",
                "nullable": true
              }
            },
            {
              "name": "boardfilter",
              "in": "query",
              "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
              "schema": {
                "type": "string",
                "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
                "nullable": true
              }
            },
            {
              "name": "arrival",
              "in": "query",
              "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
                "nullable": true
              }
            },
            {
              "name": "departure",
              "in": "query",
              "description": "Departure Date (yyyy-MM-dd) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Departure Date (yyyy-MM-dd) REQUIRED",
                "nullable": true
              }
            },
            {
              "name": "roominfo",
              "in": "query",
              "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
              "schema": {
                "type": "string",
                "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
                "default": "1-18,18",
                "nullable": true
              }
            },
            {
              "name": "bokfilter",
              "in": "query",
              "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check), (default:hgv)) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check), (default:hgv)) REQUIRED",
                "default": "hgv",
                "nullable": true
              }
            },
            {
              "name": "source",
              "in": "query",
              "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
                "default": "sinfo",
                "nullable": true
              }
            },
            {
              "name": "detail",
              "in": "query",
              "description": "Include Offer Details (Boolean, 1 = full Details)",
              "schema": {
                "type": "integer",
                "description": "Include Offer Details (Boolean, 1 = full Details)",
                "format": "int32",
                "default": 0
              }
            },
            {
              "name": "withoutmssids",
              "in": "query",
              "description": "Search over all bookable Accommodations on HGV MSS (No Ids have to be provided as Post Data) (default: false)",
              "schema": {
                "type": "boolean",
                "description": "Search over all bookable Accommodations on HGV MSS (No Ids have to be provided as Post Data) (default: false)",
                "default": false
              }
            },
            {
              "name": "withoutlcsids",
              "in": "query",
              "description": "Search over all Accommodations on LTS (No Ids have to be provided as Post Data) (default: false)",
              "schema": {
                "type": "boolean",
                "description": "Search over all Accommodations on LTS (No Ids have to be provided as Post Data) (default: false)",
                "default": false
              }
            }
          ],
          "requestBody": {
            "description": "Posted Accommodation IDs (Separated by ,)",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Accommodation"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Accommodation"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Accommodation"
                    }
                  }
                },
                "text/csv": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Accommodation"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/AvailabilityCheck": {
        "post": {
          "tags": [
            "Accommodation"
          ],
          "summary": "POST Available Accommodations HGV(Booking Suedtirol MSS) / LTS on posted IDs only Availability Response NOT AVAILABLE AS OPEN DATA",
          "parameters": [
            {
              "name": "availabilitychecklanguage",
              "in": "query",
              "description": "Language of the Availability Response",
              "schema": {
                "type": "string",
                "description": "Language of the Availability Response",
                "default": "en",
                "nullable": true
              }
            },
            {
              "name": "boardfilter",
              "in": "query",
              "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
              "schema": {
                "type": "string",
                "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
                "nullable": true
              }
            },
            {
              "name": "arrival",
              "in": "query",
              "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
                "nullable": true
              }
            },
            {
              "name": "departure",
              "in": "query",
              "description": "Departure Date (yyyy-MM-dd) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Departure Date (yyyy-MM-dd) REQUIRED",
                "nullable": true
              }
            },
            {
              "name": "roominfo",
              "in": "query",
              "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
              "schema": {
                "type": "string",
                "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
                "default": "1-18,18",
                "nullable": true
              }
            },
            {
              "name": "bokfilter",
              "in": "query",
              "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check), (default:hgv)) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check), (default:hgv)) REQUIRED",
                "default": "hgv",
                "nullable": true
              }
            },
            {
              "name": "source",
              "in": "query",
              "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
              "schema": {
                "type": "string",
                "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
                "default": "sinfo",
                "nullable": true
              }
            },
            {
              "name": "detail",
              "in": "query",
              "description": "Include Offer Details (Boolean, 1 = full Details)",
              "schema": {
                "type": "integer",
                "description": "Include Offer Details (Boolean, 1 = full Details)",
                "format": "int32",
                "default": 0
              }
            },
            {
              "name": "withoutmssids",
              "in": "query",
              "description": "Search over all bookable Accommodations on HGV MSS (No Ids have to be provided as Post Data) (default: false)",
              "schema": {
                "type": "boolean",
                "description": "Search over all bookable Accommodations on HGV MSS (No Ids have to be provided as Post Data) (default: false)",
                "default": false
              }
            },
            {
              "name": "withoutlcsids",
              "in": "query",
              "description": "Search over all Accommodations on LTS (No Ids have to be provided as Post Data) (default: false)",
              "schema": {
                "type": "boolean",
                "description": "Search over all Accommodations on LTS (No Ids have to be provided as Post Data) (default: false)",
                "default": false
              }
            }
          ],
          "requestBody": {
            "description": "Posted Accommodation IDs (Separated by ,)",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "string",
                  "description": "Posted Accommodation IDs (Separated by ,)",
                  "nullable": true
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MssResponseShort"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MssResponseShort"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MssResponseShort"
                    }
                  }
                },
                "text/csv": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MssResponseShort"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/Activity": {
        "get": {
          "tags": [
            "Activity"
          ],
          "summary": "GET Activity List",
          "parameters": [
            {
              "name": "language",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "pagenumber",
              "in": "query",
              "description": "Pagenumber, (default:1)",
              "schema": {
                "type": "integer",
                "description": "Pagenumber, (default:1)",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pagesize",
              "in": "query",
              "description": "Elements per Page, (default:10)",
              "schema": {
                "type": "integer",
                "description": "Elements per Page, (default:10)",
                "format": "int32",
                "default": 10
              }
            },
            {
              "name": "activitytype",
              "in": "query",
              "description": "Type of the Activity ('null' = Filter disabled, possible values: BITMASK: 'Mountains = 1','Cycling = 2','Local tours = 4','Horses = 8','Hiking = 16','Running and fitness = 32','Cross-country ski-track = 64','Tobbogan run = 128','Slopes = 256','Lifts = 512'), (default:'1023' == ALL), REFERENCE TO: GET /api/ActivityTypes",
              "schema": {
                "type": "string",
                "description": "Type of the Activity ('null' = Filter disabled, possible values: BITMASK: 'Mountains = 1','Cycling = 2','Local tours = 4','Horses = 8','Hiking = 16','Running and fitness = 32','Cross-country ski-track = 64','Tobbogan run = 128','Slopes = 256','Lifts = 512'), (default:'1023' == ALL), REFERENCE TO: GET /api/ActivityTypes",
                "default": "1023",
                "nullable": true
              }
            },
            {
              "name": "subtype",
              "in": "query",
              "description": "Subtype of the Activity (BITMASK Filter = available SubTypes depends on the selected Activity Type), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Subtype of the Activity (BITMASK Filter = available SubTypes depends on the selected Activity Type), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "idlist",
              "in": "query",
              "description": "IDFilter (Separator ',' List of Activity IDs), (default:'null')",
              "schema": {
                "type": "string",
                "description": "IDFilter (Separator ',' List of Activity IDs), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "locfilter",
              "in": "query",
              "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction)), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction)), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "areafilter",
              "in": "query",
              "description": "AreaFilter (Separator ',' IDList of AreaIDs separated by ','), (default:'null')",
              "schema": {
                "type": "string",
                "description": "AreaFilter (Separator ',' IDList of AreaIDs separated by ','), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "distancefilter",
              "in": "query",
              "description": "Distance Range Filter (Separator ',' example Value: 15,40 Distance from 15 up to 40 Km), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Distance Range Filter (Separator ',' example Value: 15,40 Distance from 15 up to 40 Km), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "altitudefilter",
              "in": "query",
              "description": "Altitude Range Filter (Separator ',' example Value: 500,1000 Altitude from 500 up to 1000 metres), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Altitude Range Filter (Separator ',' example Value: 500,1000 Altitude from 500 up to 1000 metres), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "durationfilter",
              "in": "query",
              "description": "Duration Range Filter (Separator ',' example Value: 1,3 Duration from 1 to 3 hours), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Duration Range Filter (Separator ',' example Value: 1,3 Duration from 1 to 3 hours), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "highlight",
              "in": "query",
              "description": "Hightlight Filter (possible values: 'false' = only Activities with Highlight false, 'true' = only Activities with Highlight true), (default:'null')",
              "schema": {
                "type": "boolean",
                "description": "Hightlight Filter (possible values: 'false' = only Activities with Highlight false, 'true' = only Activities with Highlight true), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "difficultyfilter",
              "in": "query",
              "description": "Difficulty Filter (possible values: '1' = easy, '2' = medium, '3' = difficult), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Difficulty Filter (possible values: '1' = easy, '2' = medium, '3' = difficult), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "odhtagfilter",
              "in": "query",
              "description": "Taglist Filter (String, Separator ',' more Tags possible, available Tags reference to 'api/ODHTag?validforentity=activity'), (default:'null')",
              "schema": {
                "type": "string",
                "description": "Taglist Filter (String, Separator ',' more Tags possible, available Tags reference to 'api/ODHTag?validforentity=activity'), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "active",
              "in": "query",
              "description": "Active Activities Filter (possible Values: 'true' only Active Activities, 'false' only Disabled Activities",
              "schema": {
                "type": "boolean",
                "description": "Active Activities Filter (possible Values: 'true' only Active Activities, 'false' only Disabled Activities",
                "nullable": true
              }
            },
            {
              "name": "odhactive",
              "in": "query",
              "description": "odhactive (Published) Activities Filter (possible Values: 'true' only published Activities, 'false' only not published Activities, (default:'null')",
              "schema": {
                "type": "boolean",
                "description": "odhactive (Published) Activities Filter (possible Values: 'true' only published Activities, 'false' only not published Activities, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "lastchange",
              "in": "query",
              "description": "Returns data changed after this date Format (yyyy-MM-dd), (default: 'null')",
              "schema": {
                "type": "string",
                "description": "Returns data changed after this date Format (yyyy-MM-dd), (default: 'null')",
                "nullable": true
              }
            },
            {
              "name": "seed",
              "in": "query",
              "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
              "schema": {
                "type": "string",
                "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
                "nullable": true
              }
            },
            {
              "name": "latitude",
              "in": "query",
              "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
              "schema": {
                "type": "string",
                "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "longitude",
              "in": "query",
              "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
              "schema": {
                "type": "string",
                "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "radius",
              "in": "query",
              "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
              "schema": {
                "type": "string",
                "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            },
            {
              "name": "searchfilter",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "rawfilter",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "rawsort",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivityJsonResult"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivityJsonResult"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivityJsonResult"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivityJsonResult"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/Activity/{id}": {
        "get": {
          "tags": [
            "Activity"
          ],
          "summary": "GET Activity Single",
          "operationId": "SingleActivity",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "ID of the Activity",
              "required": true,
              "schema": {
                "type": "string",
                "description": "ID of the Activity",
                "nullable": true
              }
            },
            {
              "name": "language",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Object created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivity"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivity"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivity"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/GBLTSActivity"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/ActivityTypes": {
        "get": {
          "tags": [
            "Activity"
          ],
          "summary": "GET Activity Types List",
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActivityTypes"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActivityTypes"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActivityTypes"
                    }
                  }
                },
                "text/csv": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActivityTypes"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/ActivityTypes/{id}": {
        "get": {
          "tags": [
            "Activity"
          ],
          "summary": "GET Activity Types Single",
          "operationId": "SingleActivityTypes",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityTypes"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityTypes"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityTypes"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityTypes"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/Article": {
        "get": {
          "tags": [
            "Article"
          ],
          "summary": "GET Article List",
          "parameters": [
            {
              "name": "language",
              "in": "query",
              "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
              "schema": {
                "type": "string",
                "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
                "nullable": true
              }
            },
            {
              "name": "pagenumber",
              "in": "query",
              "description": "Pagenumber, (default:1)",
              "schema": {
                "type": "integer",
                "description": "Pagenumber, (default:1)",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pagesize",
              "in": "query",
              "description": "Elements per Page, (default:10)",
              "schema": {
                "type": "integer",
                "description": "Elements per Page, (default:10)",
                "format": "int32",
                "default": 10
              }
            },
            {
              "name": "articletype",
              "in": "query",
              "description": "Type of the Article ('null' = Filter disabled, possible values: BITMASK values: 1 = basearticle, 2 = book article, 4 = contentarticle, 8 = eventarticle, 16 = pressarticle, 32 = recipe, 64 = touroperator , 128 = b2b), (also possible for compatibily reasons: basisartikel, buchtippartikel, contentartikel, veranstaltungsartikel, presseartikel, rezeptartikel, reiseveranstalter, b2bartikel ) (default:'255' == ALL), REFERENCE TO: GET /api/ArticleTypes",
              "schema": {
                "type": "string",
                "description": "Type of the Article ('null' = Filter disabled, possible values: BITMASK values: 1 = basearticle, 2 = book article, 4 = contentarticle, 8 = eventarticle, 16 = pressarticle, 32 = recipe, 64 = touroperator , 128 = b2b), (also possible for compatibily reasons: basisartikel, buchtippartikel, contentartikel, veranstaltungsartikel, presseartikel, rezeptartikel, reiseveranstalter, b2bartikel ) (default:'255' == ALL), REFERENCE TO: GET /api/ArticleTypes",
                "default": "255",
                "nullable": true
              }
            },
            {
              "name": "articlesubtype",
              "in": "query",
              "description": "Sub Type of the Article (depends on the Maintype of the Article 'null' = Filter disabled)",
              "schema": {
                "type": "string",
                "description": "Sub Type of the Article (depends on the Maintype of the Article 'null' = Filter disabled)",
                "nullable": true
              }
            },
            {
              "name": "idlist",
              "in": "query",
              "description": "IDFilter (Separator ',' List of Article IDs), (default:'null')",
              "schema": {
                "type": "string",
                "description": "IDFilter (Separator ',' List of Article IDs), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "langfilter",
              "in": "query",
              "description": "Language Filter (Gets only Articles Available in the passed Language)",
              "schema": {
                "type": "string",
                "description": "Language Filter (Gets only Articles Available in the passed Language)",
                "nullable": true
              }
            },
            {
              "name": "sortbyarticledate",
              "in": "query",
              "description": "Sort By Articledate ('true' sorts Articles by Articledate)",
              "schema": {
                "type": "boolean",
                "description": "Sort By Articledate ('true' sorts Articles by Articledate)",
                "nullable": true
              }
            },
            {
              "name": "odhtagfilter",
              "in": "query",
              "description": "ODH Taglist Filter (refers to Array SmgTags) (String, Separator ',' more Tags possible, available Tags reference to 'api/ODHTag?validforentity=article'), (default:'null')",
              "schema": {
                "type": "string",
                "description": "ODH Taglist Filter (refers to Array SmgTags) (String, Separator ',' more Tags possible, available Tags reference to 'api/ODHTag?validforentity=article'), (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "odhactive",
              "in": "query",
              "description": "ODH Active (Published) Activities Filter (Refers to field SmgActive) Article Filter (possible Values: 'true' only published Article, 'false' only not published Articles, (default:'null')",
              "schema": {
                "type": "boolean",
                "description": "ODH Active (Published) Activities Filter (Refers to field SmgActive) Article Filter (possible Values: 'true' only published Article, 'false' only not published Articles, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "active",
              "in": "query",
              "description": "Active Articles Filter (possible Values: 'true' only Active Articles, 'false' only Disabled Articles",
              "schema": {
                "type": "boolean",
                "description": "Active Articles Filter (possible Values: 'true' only Active Articles, 'false' only Disabled Articles",
                "nullable": true
              }
            },
            {
              "name": "lastchange",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "seed",
              "in": "query",
              "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
              "schema": {
                "type": "string",
                "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
                "nullable": true
              }
            },
            {
              "name": "searchfilter",
              "in": "query",
              "description": "String to search for, Title in all languages are searched, (default: null)",
              "schema": {
                "type": "string",
                "description": "String to search for, Title in all languages are searched, (default: null)",
                "nullable": true
              }
            },
            {
              "name": "rawfilter",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "rawsort",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleJsonResult"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleJsonResult"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleJsonResult"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleJsonResult"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/Article/{id}": {
        "get": {
          "tags": [
            "Article"
          ],
          "summary": "GET Article Single",
          "operationId": "SingleArticle",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "ID of the Poi",
              "required": true,
              "schema": {
                "type": "string",
                "description": "ID of the Poi",
                "nullable": true
              }
            },
            {
              "name": "language",
              "in": "query",
              "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
              "schema": {
                "type": "string",
                "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Object created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Article"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Article"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Article"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/ArticleTypes": {
        "get": {
          "tags": [
            "Article"
          ],
          "summary": "GET Article Types List",
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                },
                "text/csv": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ArticleTypes"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/ArticleTypes/{id}": {
        "get": {
          "tags": [
            "Article"
          ],
          "summary": "GET Article Types Single",
          "operationId": "SingleArticleTypes",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List created",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ArticleTypes"
                  }
                }
              }
            },
            "400": {
              "description": "Request Error",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                },
                "text/csv": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "security": [
            {
              "oauth2": [ ]
            }
          ]
        }
      },
      "/api/MetaRegion": {
        "get": {
          "tags": [
            "Common"
          ],
          "summary": "GET MetaRegion List",
          "parameters": [
            {
              "name": "latitude",
              "in": "query",
              "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
              "schema": {
                "type": "string",
                "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "longitude",
              "in": "query",
              "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
              "schema": {
                "type": "string",
                "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "radius",
              "in": "query",
              "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
              "schema": {
                "type": "string",
                "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
                "nullable": true
              }
            },
            {
              "name": "fields",
              "in": "query",
              "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname. Select also Dictionary fields, example Detail.de.Title, or Elements of Arrays example ImageGallery[0].ImageUrl. (default:'null' all fields are displayed)",
                "nullable": true
              }
            },
[...]
