version 9.0.2
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core ~> 8
nuget System.Text.Json ~> 8
nuget FSharp.SystemTextJson
nuget Microsoft.OpenApi
nuget NETStandard.Library.NETFramework

# delete when we drop custom parser for v2
nuget YamlDotNet

# THis lines are used by Paket to get the latest version of the Type Provider SDK files
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

github fsprojects/FSharp.Data:main src/FSharp.Data.Runtime.Utilities/Pluralizer.fs
github fsprojects/FSharp.Data:main src/FSharp.Data.Runtime.Utilities/NameUtils.fs

group Server
    source https://api.nuget.org/v3/index.json
    framework: net9.0

    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.Mvc
    nuget Microsoft.AspNetCore.HttpsPolicy
    nuget Swashbuckle.AspNetCore
    nuget Microsoft.OpenApi
    nuget FSharp.Core
    nuget System.Text.Json


group Test
    source https://api.nuget.org/v3/index.json
    frameworks: net9.0

    nuget FSharp.Compiler.Service
    nuget FSharp.Core

    nuget Microsoft.NET.Test.Sdk
    nuget FsUnit.Xunit

    nuget Microsoft.OpenApi
    nuget FSharp.SystemTextJson
