source https://nuget.org/api/v2

nuget Newtonsoft.Json

github fsharp/FSharp.Data src/Net/UriUtils.fs
github fsharp/FSharp.Data src/Net/Http.fs
github fsharp/FSharp.Data src/CommonRuntime/IO.fs
github fsharp/FSharp.Data src/CommonRuntime/TextConversions.fs
github fsharp/FSharp.Data src/CommonRuntime/Pluralizer.fs
github fsharp/FSharp.Data src/CommonRuntime/NameUtils.fs
github fsharp/FSharp.Data src/CommonRuntime/StructuralTypes.fs
github fsharp/FSharp.Data src/Json/JsonValue.fs
github fsharp/FSharp.Data src/Json/JsonConversions.fs
github fsharp/FSharp.Data src/Json/JsonExtensions.fs
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs

group Build
	
	source https://nuget.org/api/v2
	
	nuget FAKE
	nuget FSharp.Formatting
	nuget SourceLink.Fake

	github fsharp/FAKE modules/Octokit/Octokit.fsx

	
group Test
	
	source https://nuget.org/api/v2
	
	nuget NUnit
	nuget NUnit.Runners
	nuget FSharp.Data
