source https://nuget.org/api/v2
framework: >= net45

nuget Newtonsoft.Json >= 9.0.1
nuget FSharp.Core ~> 4.0.0
nuget YamlDotNet

github fsharp/FSharp.Data src/Net/UriUtils.fs
github fsharp/FSharp.Data src/Net/Http.fs
github fsharp/FSharp.Data src/CommonRuntime/Pluralizer.fs
github fsharp/FSharp.Data src/CommonRuntime/NameUtils.fs
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Build
	framework: net461
	source https://nuget.org/api/v2

	nuget FAKE
	nuget Suave
	nuget DotLiquid
	nuget FSharp.Formatting

	github fsharp/FAKE modules/Octokit/Octokit.fsx

group OWIN
	framework: net461
	source https://nuget.org/api/v2

	nuget Microsoft.AspNet.WebApi.OwinSelfHost
	nuget Swashbuckle.Core
	nuget FSharp.Core redirects: force

group Test
	framework: net461

	source https://nuget.org/api/v2
	nuget FSharp.Data
	nuget FSharp.Compiler.Service
	nuget FSharp.Core redirects: force

	nuget Expecto